* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.mq1 {
  white-space: nowrap;
}

#Marquee1 {
  animation-name: Marquee1;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes Marquee1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 437px) {
  #Marquee1 span {
    width: 9%;
  }
}

@media screen and (min-width: 450px) {
  #Marquee1 span {
    width: 8%;
  }
}

@media screen and (min-width: 523px) {
  #Marquee1 span {
    width: 8%;
  }
}

@media screen and (min-width: 550px) {
  #Marquee1 span {
    width: 7%;
  }
}

@media screen and (min-width: 600px) {
  #Marquee1 span {
    width: 6%;
  }
}

#underline {
  text-decoration: underline;
}


#Subscribe {
  -webkit-text-stroke: 2px black;
  color: white;
}

#rotatingImg {
  animation-name: roatator;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes roatator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}

#cover1 , #cover2 , #cover3 {
  transition: all 0.8s linear; 
  opacity: 0;
}